// Variablen
$primaryColour: #e5c643;
$secondaryColour: #e4c0b4;
$thirdColour: #fbeda3;

$colourDark: #000;
$colourLight: #fff;

$textColourDark: #000;
$textColourMiddle1: #7f7f7f;
$textColourMiddle2: #8e8e8e;
$textColourLight: #fff;